* {
    margin: 0;
    padding: 0;
}

.navBar {
    background-color: green;
    display: flex;
    justify-content: space-between;
    padding: 20px;


}

.nav-bar {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    list-style-type: none;

}

#id {
    background-color: green;
    margin-top: -22px;
    gap: 20px;

}

.img {
    width: 20px;
    height: 20px;
}